@import "../../scss//mixins.scss";
.body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive("tab-port") {
    text-align: center;
  }
  :global(.container) {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive("tab-port") {
      justify-content: center;
    }

    img {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      @include responsive("tab-port") {
        display: none;
      }
    }
  }

  h1 {
    font-weight: 400;
    font-size: 5rem;
  }
  h2 {
    font-weight: 300;
    font-style: italic;
  }
}

.buttonWrapper {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;

  @include responsive("tab-port") {
    justify-content: center;
  }
}
