@import "./scss/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include responsive("tab-port") {
    font-size: 56.25%;
  }

  @include responsive("mobile") {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  color: #313131;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;

  @include responsive("tab-land") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
