.nav {
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: #f6f7f9;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.container) {
    display: flex;
    align-items: center;
    flex-grow: 1;

    justify-content: space-between;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    li {
      position: relative;
    }
    a {
      text-decoration: none;
      color: #313131;
    }

    :global(.active) {
      color: #1c4acd;
    }
  }
}

.madeRequests {
  position: absolute;
  top: -5px;
  right: -15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  font-size: 12px;
  color: #fff;
  background-color: #1c4acd;
  border-radius: 100px;
}

.navLogo {
  text-decoration: none;
  font-size: 3rem;
  color: #313131;
}

.hasLoan {
  position: absolute;
  top: 0;
  right: -10px;
  width: 5px;
  height: 10px;
  padding: 1px 5px;

  background-color: #ef4444;
  border-radius: 100px;
}
